.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
#account-dropdown {
  color : white;
}
.app-content {
  min-height: 300px;
}
.app-content .sweet-loading {
  margin-left : 50%;
}
.App-title {
  font-size: 1.5em;
}
.grid-container {
  display: block;

}
.grid-container div, .dashboard, .edit-form, .config-container{
  background-color: #f3f5f7; 
}
.edit-form form {
  margin: 3em 1em 1em;
}
.config-section-container, .dashboard {
  min-height: 450px!important;
}
.dashboard-header {
  padding-top: 5px;
}

.dashboard-content {
  min-height: 210px;
  
}
.over-grid {
  height: 100px;
}
.over-grid button{
  position: absolute;
  left: 90%;
  top: 10%;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.grid-title {
  position: inherit;
  padding-top: 25px;
}
.clear {
  clear:both;
}
.clickable {
  cursor: pointer;
}
