@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Ubuntu, sans-serif
  /* font-family: 'Ubuntu', 'Ubuntu', sans-serif; */
}
.header-bar {
  background-color:#0273D4;
  width: 100%;
  height: 50px;
}
footer {
  background-color: rgb(26, 35, 44);
  width: 100%;
  display: inline-block;
}

footer span, a {
  color: azure;
}
.footer-content {
  text-align: center;
}
 .hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}
.hljs-comment,
.hljs-meta {
  color: #969896;
}
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}
.hljs-section,
.hljs-name {
  color: #63a35c;
}
.hljs-tag {
  color: #333333;
}
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}
.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}
.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.hljs-link {
  text-decoration: underline;
}
.menu-container {
  float: left;
}
.grid-button-container {
  display: block;
}
.grid-button-container button {
  float: right;
}
.form-inner-container{
  width: 75%; 
  height: 50%; 
  top: 25%; 
  margin: 0 auto; 
  position: relative; 
  border: 1px solid #d8d8d8;
  padding: 15px;
}
.sweet-loading {
  margin-left: 0%!important;
  margin-right: 5px;
  margin-top: 8px;
}

